:root {
  --primary-color: #3c3d37;
  --color-btn: #1e201e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--primary-color);
}

.window__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  margin: 25rem;
}

.btn {
  background: var(--color-btn);
  outline: none;
  border: none;
  padding: 2rem 10rem;
  color: #fff;
  cursor: pointer;
  font-size: 1.4rem;
  border-radius: 25px;
}

.img__container {
  border-radius: 50%;
  margin-left: 15rem;
  border: 10px solid var(--primary-color);
  margin-top: 3rem;
  background-image: url(dp.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  width: 10rem;
  height: 10rem;
}

.modal {
  background-color: var(--color-btn);
  width: 40rem;
  height: 40rem;
  position: absolute;
  top: 18%;
  left: 34%;
  border-radius: 20px;
  z-index: 99999;
  border: 5px solid var(--primary-color);
}

.modal__close {
  background: none;
  border: none;
  color: #ffffff7a;
  position: absolute;
  right: 2%;
  font-size: 3rem;
  cursor: pointer;
}

.modal__name {
  color: #fff;
  text-align: center;
  font-size: 2.8rem;
  margin-top: 2rem;
}

.modal__country {
  color: #ffffff9a;
  text-align: center;
  margin-top: 0.4rem;
  font-size: 1rem;
}

.modal__skills {
  color: #fff;
  text-align: center;
  font-size: 2.2rem;
  margin-top: 3rem;
}

.modal__btns {
  margin-top: 3.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.mbtn {
  background: var(--primary-color);
  outline: none;
  border: none;
  color: #fff;
  padding: 1.5rem 4rem;
  border-radius: 20px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
}
